{% extends 'base.html' %}
{% block title %}Form{% endblock title %}
{% block body %}
<body>

<div>
  <h1 style="text-align:center;">Timetable Form</h1>
</div>
<h2>Teacher details</h2> <br><br>
{% comment %} <br>
 <center>
     <div class="card border-success mb-3" style="text-align:center;max-width: 50rem">
 
  <div class="card-header" style="text-align:center;font-family:sans-serif">Teacher information</div>
  <div class="card-body">
 
  </div>
</div> {% endcomment %}

   <style>
     .bg{
       backgroud-color: #bae6e5;
     }
   </style>


<form style="text-align:center;" action="{% url 'timetable:teacher_form' %}" method="POST">
{% csrf_token %}
{% for i in no_of_teachers %}
  <div class="card rounded-1 bg-info-subtle" style="background-colour:#bae6e5">
   <div class="card-header">Teacher {{i}}</div>
 <div class="row g-1 align-items-center card-body  ">
  <div class="col-auto">
<label class="has-text-weight-medium  has-text-centered is-size-5" for="teacher_name">Please enter teacher name</label> 
<input class=" margin-5 form-control" aria-describedby="teacher_nameHelpInline" type="text" placeholder="Teacher name" name="teacher_name" id="teacher_name" required>
  </div>
  </div>




<div class="row g-1 align-items-center card-body">
  <div class="col-auto">
<label class="col-form-label" for="subj_taught">Please enter subjects taught</label> 
<input class="form-control"  type="text" placeholder="Subjects taught" name="subj_taught" id="subj_taught" required>
  </div>
  </div>


<div class="row g-1 align-items-center card-body">
  <div class="col-auto">
<label class="has-text-weight-medium  has-text-centered is-size-5" for="grades_taught">Please enter the grades taught (different grades separated by commas)</label> <br>
<input class="form-control" aria-describedby="grades_taughtHelpInline" type="text" placeholder="Grades taught" name="grades_taught" id="grades_taught" required>
</div>
</div>
</div>

<br>
<br>
<br>
{% endfor %}




<input type="submit" class="btn btn-primary">
{% endblock body %}